.places__link {
    color: white;
    max-width: 100%;
    height: auto;
    font-size: 18px;
    line-height: 22px;
    margin: 0;
}

.places__link:hover {
    cursor: pointer;
}

@media screen and (max-width: 320px) {
    .places__link {
        margin-left: 16px;
    }
}