@import"../../vendor/normalize.css";

@import"../cover/cover.css";
@import "../cover/__link/cover__link.css";
@import "../cover/__subtitle/cover__subtitle.css";
@import "../cover/__title/cover__title.css";


@import"../footer/footer.css";
@import "../footer/__copyright/footer__copyright.css";
@import "../footer/__link/footer__link.css";
@import "../footer/__links/footer__links.css";

@import"../header/header.css";
@import "../header/__lang-link/header__lang-link.css";
@import "../header/__lang-link/_active/header__lang-link_active.css";
@import "../header/__lang-links/header__lang-links.css";
@import "../header/__logo/header__logo.css";

@import"../intro/intro.css";
@import "../intro/__item-digit/intro__item-digit.css";
@import "../intro/__item/intro__item.css";
@import "../intro/__list/intro__list.css";
@import "../intro/__text/intro__text.css";
@import "../intro/__title/intro__title.css";

@import"../lead/lead.css";
@import "../lead/__caption/lead__caption.css";
@import "../lead/__image/lead__image.css";
@import "../lead/__subtitle/lead__subtitle.css";
@import "../lead/__title/lead__title.css";

@import"../photo-grid/photo-grid.css";
@import "../photo-grid/__item/photo-grid__item.css";

@import"../places/places.css"; 
@import "../places/__image/places__image.css";
@import "../places/__link/places__link.css";
@import "../places/__paragraph/places__paragraph.css";
@import "../places/__paragraph/_without-margin/places__paragraph_without-margin.css";
@import "../places/__place/places__place.css";
@import "../places/__place/_position/places__place_position.css";
@import "../places/__title/places__title.css";
@import "../places/__url-heading/places__url-heading.css";

@import"../../fonts/fonts.css";


.page {
    font-family: 'Inter', sans-serif; 
    background:  #2A2C2F;
    margin: 0 auto;
}