@import "./__background/cover__background.css";
@import "./__subtitle/cover__subtitle.css";
@import "./__title/cover__title.css";
@import "./__link/cover__link.css";

.cover {
    position: relative;
    max-height: 740px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow-x: hidden;
    background: #2A2C2F;
}

.cover:hover .cover__background {
    opacity: 0.3;
    cursor: pointer;
}

@media screen and (max-width: 1024px) {
    .cover {
        max-height: 640px;
    }
}

@media screen and (max-width: 768px) {
    .cover {
        max-height: 480px;
    }
}

@media screen and (max-width: 320px) {
    .cover {
        max-height: 200px;
    }
}