@import"../vendor/normalize.css";
@import"../blocks/cover/cover.css";
@import"../blocks/footer/footer.css";
@import"../blocks/header/header.css";
@import"../blocks/intro/intro.css";
@import"../blocks/lead/lead.css";
@import"../blocks/photo-grid/photo-grid.css";
@import"../blocks/places/places.css"; 
@import"../fonts/fonts.css";


.page {
    font-family: 'Inter', sans-serif; 
    background:  #2A2C2F;
    margin: 0 auto;
    overflow: hidden;
}