.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    padding: 92px 0 24px 0;
    margin: 0;
    box-sizing: border-box;
}


@media screen and (max-width: 768px) {
    .footer {
        padding-top: 88px;
    }
}


@media screen and (max-width: 320px) {
    .footer {
        flex-direction: column;
        padding-top: 64px;
    }
}

